<!DOCTYPE html>
<html>
  <head>
    <title>Option Pricing History</title>
  </head>
  <body>
    <h1>Option Pricing History</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Input 1</th>
        <th>Input 2</th>
        <th>Input 3</th>
        <th>Input 4</th>
        <th>Input 5</th>
        <th>Call Price</th>
        <th>Put Price</th>
      </tr>
      {% for data in option_data %}
      <tr>
        <td>{{ data.id }}</td>
        <td>{{ data.input_1 }}</td>
        <td>{{ data.input_2 }}</td>
        <td>{{ data.input_3 }}</td>
        <td>{{ data.input_4 }}</td>
        <td>{{ data.input_5 }}</td>
        <td>{{ data.call_price }}</td>
        <td>{{ data.put_price }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
