<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Option Pricing Calculator</title>
    <title>This is a test app developed by Manish</title>
    <style>
      /* Add your custom styles here */
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Option Pricing Calculator</h1>
      <form action="/calculate" method="post">
        <div class="form-group">
          <label for="share_price">Share Price:</label>
          <input type="number" step="any" name="share_price" required />
        </div>
        <div class="form-group">
          <label for="exercise_PRICE">Exercise Price:</label>
          <input type="number" step="any" name="exercise_PRICE" required />
        </div>
        <div class="form-group">
          <label for="risk_free_rate">RIsk Free Rate (%):</label>
          <input type="number" step="any" name="risk_free_rate" required />
        </div>
        <div class="form-group">
          <label for="volatility">Volatility (%):</label>
          <input type="number" step="any" name="volatility" required />
        </div>
        <div class="form-group">
          <label for="tenure">Tenure (years):</label>
          <input type="number" step="any" name="tenure" required />
        </div>
        <button type="submit">Calculate</button>
      </form>
    </div>
  </body>
</html>
